# Anthropic
ANTHROPIC_API_KEY=

# Enode
ENODE_CLIENT_ID=
ENODE_CLIENT_SECRET=
ENODE_BASE_URL=https://enode-api.production.enode.io
ENODE_USER_ID=

# WattTime
WATTTIME_USERNAME=
WATTTIME_PASSWORD=
WATTTIME_REGION=CAISO_NORTH
WATTTIME_BASE_URL=https://api.watttime.org/v3
